[
  {rabbit, [

    {% if rabbitmq_clustered %}
    {cluster_nodes, {[
      {%- for host in groups[openstack_group_rabbitmq] -%}
      'rabbit@{{ hostvars[host].ansible_hostname }}'{% if not loop.last %}, {% endif %}
      {%- endfor -%}
    ], disc}},
    {cluster_partition_handling, {{ rabbitmq_cluster_partition_handling }}}
    {% endif %}

  ]}
].
