[global]
  fsid = {{ ceph_fsid }}

  {% if ceph_public_network -%}
  public network = {{ ceph_public_network }}
  {%- endif %}

  {% if ceph_cluster_network -%}
  cluster network = {{ ceph_cluster_network }}
  {%- endif %}

  osd journal size = {{ ceph_osd_journal_size }}

  filestore xattr use omap = true
  osd pool default size = {{ ceph_osd_pool_default_size }}
  osd pool default pg num = 333
  osd pool default pgp num = 333
  osd crush chooseleaf type = 1

{% for host in groups[ceph_group_mon] %}
[mon.{{ hostvars[host].ansible_hostname }}]
  host = {{ hostvars[host].ansible_hostname }}
  mon addr = {{ hostvars[host].ceph_mon_address }}:6789
{% endfor %}
