[DEFAULT]
log_dir = /var/log/keystone

{% if keystone_public_endpoint %}
public_endpoint = {{ keystone_public_endpoint }}
{% endif %}
{% if keystone_admin_endpoint %}
admin_endpoint = {{ keystone_admin_endpoint }}
{% endif %}

admin_token = {{ keystone_admin_token }}

[database]
connection = mysql+pymysql://{{ keystone_mysql_user }}:{{ keystone_mysql_password }}@{{ openstack_lb_vip }}/{{ keystone_mysql_db }}

[memcache]
servers = {% for host in groups[openstack_group_memcached] -%}
{{ hostvars[host].ansible_fqdn }}{% if not loop.last %},{% endif %}
{%- endfor %}

[token]
provider = {{ keystone_token_provider }}
driver = {{ keystone_token_driver }}

[revoke]
driver = sql
