#!/bin/bash
export OS_USERNAME=admin
export OS_PASSWORD={{ keystone_admin_password|to_json }}
export OS_PROJECT_NAME=admin
export OS_USER_DOMAIN_NAME=default
export OS_PROJECT_DOMAIN_NAME=default
export OS_AUTH_URL={{ keystone_auth_url }}
export OS_IDENTITY_API_VERSION=3
