[DEFAULT]
metadata_workers = {{ neutron_metadata_workers }}

nova_metadata_ip = {{ openstack_lb_vip }}
metadata_proxy_shared_secret = {{ openstack_metadata_proxy_shared_secret }}

auth_uri = {{ keystone_auth_uri }}
auth_url = {{ keystone_auth_url }}
auth_region = {{ openstack_region }}
auth_plugin = password
project_domain_id = default
user_domain_id = default
username = {{ neutron_keystone_user }}
password = {{ neutron_keystone_password }}
project_name = {{ neutron_keystone_project }}
